@import "../utils/variables";
@import "../utils/mixins";

/*-----ACCUEIL-----*/
.main
{
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & p
    {
        font-size: 25px;
    }
    @include grande-tablette
    {
        margin: auto;
        height: 90%;
    }
    @include mobile
    {
        width: auto;
        height: auto;
    }
}

.main2
{
    @include grande-tablette
    {
        height: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    @include petite-tablette
    {
        height: auto;
    }
    @include mobile
    {
        width: auto;
        margin: auto;
    }
}

.main3
{
    @include grande-tablette
    {
        width: 100vw;
        height: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.3em;
    }
    @include mobile
    {
        width: auto;
        margin: auto;
    }
}

section
{
    & h3
    {
        margin-bottom: 0;
    }
    & a
    {
        color: $noir;
    }

}

.menus12, .menus34
{
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    @include grande-tablette
    {
        margin: auto;
    }
    @include mobile
    {
        flex-direction: column;
        justify-content: space-around;
    }
}

.menus34
{
    margin-bottom: 20px;
    & p
    {
        font-family: 'Shadow Into Light', cursive;
    }

}

.ptn
{
    width: $ptn-size;
    height: $ptn-size;
    background-color: $jaune_titre;
    margin: 26px 2px 0 2px;
    border-radius: 100%;
    transform: translateY(-10px);
    &__1
    {
        margin-left: 5px;
        transition: transform 800ms ease-in-out;
    }
    &__2
    {
        transition:  transform 800ms 400ms ease-in-out;
    }
    &__3
    {
        transition: transform 800ms 800ms ease-in-out;
    }
}

/*-----PAGE LA NOTE ENCHANTEE-----*/

h2
{
    text-align: center;
    font-weight: bold;
}

.menu_lanote
{
    width: 700px;
    margin: 0 auto;
    background-color: $chaire;
    box-shadow: 0 0 10px rgb(217,218,219);
    padding: 20px 0;
    margin-bottom: 120px;
    font-family: $font_note;
    color: $bordeau;
    & figure
    {
        font-size: 2em;
        text-align: center;
        justify-content: center;
       
    }
    & h3
    {
        font-size: 2em;
        text-align: center;
        margin-bottom: 0;
    }
    & h4
    {
        text-align: center;
        cursor: pointer;
        &:hover
        {
            & + .surlign
            {
                transform: scaleX(1);
            }
        }
    }
    @include mobile
    {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.partie_menu
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 600px;
    @include mobile
    {
        width: auto;
    }
}

.nom__partie
{
    & .surlign
    {
        height: 5px;
        margin-top: -20px;
        transform: scaleX(0);
        transition: transform 1000ms ease-in-out;
        transform-origin: left;
        &--2
        {
            background-color: $bordeau;
        }
        &--3
        {
            background-color: $bordeau;
        }
        &--4
        {
            background-color: $bordeau;
        }
    }
    
}
.menu_lanote .trait_gauche, .menu_lanote .trait_droit
{
    width: 35%;
    height: 30px;
    border-bottom: 3px double $bordeau;
}
.descript_lanote
{
    padding: 0;
    & li
    {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 600px;
        & p:nth-child(1)
        {
            width: 80%;
            margin: auto 0;
            @include mobile
            {
                width: auto;
                text-align: center;
            }
        }
        & p:last-child
        {
            width: 20%;
            text-align: right;
            font-weight: bold;
            @include mobile
            {
                width: auto;
                text-align: center;
            }
        }
    @include mobile
    {
        width: auto;
        flex-direction: column;
    }

    }
}

.mouvement
{
    @include mobile
    {
        text-align: center;
    }
    & ul
    {
        & li
        {
            padding-bottom: 20px;
        }
    }
}

/*.mouvement ul li
{
    padding-bottom: 20px;
}*/

.titre_final
{
    display: flex;
    justify-content: center;
}

/*-----PAGE LE CHIC A LA FRANCAISE-----*/

.menu_lechic
{
    width: 700px;
    margin: 0 auto;
    background-color: $rose_pale;
    box-shadow: 0 0 10px rgb(217,218,219);
    padding: 20px 0;
    margin-bottom: 120px;
    font-family: $font_bellota;
    & h3
    {
        text-align: center;
        font-size: 2em;
    }
    @include mobile
    {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    & h4
    {
        text-align: center;
        cursor: pointer;
        &:hover
        {
            & + .surlign
            {
                transform: scaleX(1);
            }
        }
    }
    
}

.nom__partie--chic
{
    & .surlign__chic
    {
        &--1
        {
            background-color: $orange;
        }
        &--2
        {
            background-color: $violet;
        }
        &--3
        {
            background-color: $violet_fonce;
        }
        
    }
}
.menu_lechic .partie_menu1, .menu_lechic .prelude
{
    color: $orange;
}
.trait_gauche_chic, .trait_droit_chic
{
    width: 30%;
    height: 30px;
    border-bottom: 4px double;
}
.menu_lechic .partie_menu2, .menu_lechic .point_dorgue
{
    color: $violet;
}

.menu_lechic .partie_menu3, .menu_lechic .mouvement
{
    color: $violet_fonce;
}

/*-----PAGE LE DELCIE DES PAPILLES-----*/

.menu_ledelice
{
    width: 700px;
    margin: 0 auto;
    background-color: $gris_clair;
    box-shadow: 0 0 10px rgb(217,218,219);
    padding: 20px 0;
    margin-bottom: 120px;
    font-family: $font_satisfy;
    & h3
    {
        text-align: center;
        font-size: 2em;
    }
    & h4
    {
        cursor: pointer;
        &:hover
        {
            & + .surlign
            {
            transform: scaleX(1);
            }
        }
    }
    @include mobile
    {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.nom__partie
{
    & .surlign__delice
    {
        &--1
        {
            background-color: $bleu_fonce;
        }
        &--2
        {
            background-color: $bleu;
        }
        &--3
        {
            background-color: $bleu_clair;
        }
    }
}

.menu_ledelice .partie_menu1 .trait_gauche, .menu_ledelice .partie_menu1 .trait_droit
{
    color: $bleu_fonce;
}

.menu_ledelice .partie_menu2 .trait_gauche, .menu_ledelice .partie_menu2 .trait_droit
{
    color: $bleu;
}

.menu_ledelice .partie_menu3 .trait_gauche, .menu_ledelice .partie_menu3 .trait_droit
{
    color: $bleu_clair;
}

/*-----PAGE LA PALETTE DU GOUT-----*/

.menu_lapalette
{
    width: 700px;
    margin: 0 auto;
    background-color: $blanc_terne;
    box-shadow: 0 0 10px rgb(217,218,219);
    padding: 20px 0;
    margin-bottom: 120px;
    font-family: $font_indie;
    & h3
    {
        text-align: center;
        font-size: 2em;
    }
    & h4
    {
        text-align: center;
        cursor: pointer;
        &:hover
        {
            & + .surlign
            {
                transform: scaleX(1);
            }
        }
    }
    @include mobile
    {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.nom__partie
{
    & .surlign__palette
    {
        background-color: $vert;
    }
}

.menu_lapalette .trait_gauche, .menu_lapalette .trait_droit
{
    width: 35%;
    height: 30px;
    border-bottom: 3px double;
}

/*-----PAGE MENTIUONS LEGALES-----*/

.Mentionlegale
{
    width: 700px;
    margin: auto;
    text-align: justify;
    font-size: 1.1em;
    @include mobile
    {
        width: auto;
        margin: auto;
        height: 90%;
        font-size: 1em;
        padding: 0 5px;
    }
}

.Mentionlegale a
{
    color: $noir;
}