@import "../utils/variables";
/*-----HEADER-----*/
h1
{
    margin: 0 auto;
    height: 70px;
    text-align: center;
    font-family: $font_titre;
    font-size: 3em;
    color: $jaune_titre;
    vertical-align: middle;
    line-height: 70px;
    

    & a
    {
        color: $jaune_titre;
    }
}

header
{
    background-color: $vert_fond;
    z-index: 2;
}