body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
@media all and (max-width: 1024px) {
  body {
    margin: auto;
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.la_note, .le_chic, .le_delice, .la_palette {
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px #d9dadb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: transform 400ms;
}
.la_note:hover, .le_chic:hover, .le_delice:hover, .la_palette:hover {
  transform: scale(1.2);
  z-index: 1;
}

.la_note {
  align-items: center;
  margin-right: 10px;
  background-color: #fcdfdb;
}
.la_note h3 {
  font-family: "Dancing Script", sans-serif;
  color: #3d1319;
}
.la_note figure {
  font-size: 2em;
  margin-bottom: -20px;
}
.la_note p {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}
@media all and (max-width: 640px) {
  .la_note {
    margin-right: 0;
    margin-top: 20px;
  }
}

.le_chic {
  background-color: #fff5fe;
  margin-left: 10px;
}
.le_chic h3 {
  font-family: "Bellota", cursive;
}
@media all and (max-width: 640px) {
  .le_chic {
    margin-left: 0;
    margin-top: 20px;
  }
}

.le_delice {
  background-color: #f9f9f9;
  margin-right: 10px;
}
.le_delice h3 {
  font-family: "Satisfy", cursive;
}
@media all and (max-width: 640px) {
  .le_delice {
    margin-right: 0;
    margin-top: 20px;
  }
}

.la_palette {
  background-color: #fdfffd;
  margin-left: 10px;
}
.la_palette h3 {
  font-family: "Indie Flower", cursive;
}
@media all and (max-width: 640px) {
  .la_palette {
    margin-left: 0;
    margin-top: 20px;
  }
}

.coming {
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  border-radius: 5px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 640px) {
  .coming {
    margin-top: 20px;
  }
}

/*-----ACCUEIL-----*/
.main {
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main p {
  font-size: 25px;
}
@media all and (max-width: 1024px) {
  .main {
    margin: auto;
    height: 90%;
  }
}
@media all and (max-width: 640px) {
  .main {
    width: auto;
    height: auto;
  }
}

@media all and (max-width: 1024px) {
  .main2 {
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media all and (max-width: 800px) {
  .main2 {
    height: auto;
  }
}
@media all and (max-width: 640px) {
  .main2 {
    width: auto;
    margin: auto;
  }
}

@media all and (max-width: 1024px) {
  .main3 {
    width: 100vw;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3em;
  }
}
@media all and (max-width: 640px) {
  .main3 {
    width: auto;
    margin: auto;
  }
}

section h3 {
  margin-bottom: 0;
}
section a {
  color: black;
}

.menus12, .menus34 {
  display: flex;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  .menus12, .menus34 {
    margin: auto;
  }
}
@media all and (max-width: 640px) {
  .menus12, .menus34 {
    flex-direction: column;
    justify-content: space-around;
  }
}

.menus34 {
  margin-bottom: 20px;
}
.menus34 p {
  font-family: "Shadow Into Light", cursive;
}

.ptn {
  width: 5px;
  height: 5px;
  background-color: #fdcb46;
  margin: 26px 2px 0 2px;
  border-radius: 100%;
  transform: translateY(-10px);
}
.ptn__1 {
  margin-left: 5px;
  transition: transform 800ms ease-in-out;
}
.ptn__2 {
  transition: transform 800ms 400ms ease-in-out;
}
.ptn__3 {
  transition: transform 800ms 800ms ease-in-out;
}

/*-----PAGE LA NOTE ENCHANTEE-----*/
h2 {
  text-align: center;
  font-weight: bold;
}

.menu_lanote {
  width: 700px;
  margin: 0 auto;
  background-color: #fcdfdb;
  box-shadow: 0 0 10px #d9dadb;
  padding: 20px 0;
  margin-bottom: 120px;
  font-family: "Dancing Script", sans-serif;
  color: #3d1319;
}
.menu_lanote figure {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}
.menu_lanote h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
}
.menu_lanote h4 {
  text-align: center;
  cursor: pointer;
}
.menu_lanote h4:hover + .surlign {
  transform: scaleX(1);
}
@media all and (max-width: 640px) {
  .menu_lanote {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.partie_menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
}
@media all and (max-width: 640px) {
  .partie_menu {
    width: auto;
  }
}

.nom__partie .surlign {
  height: 5px;
  margin-top: -20px;
  transform: scaleX(0);
  transition: transform 1000ms ease-in-out;
  transform-origin: left;
}
.nom__partie .surlign--2 {
  background-color: #3d1319;
}
.nom__partie .surlign--3 {
  background-color: #3d1319;
}
.nom__partie .surlign--4 {
  background-color: #3d1319;
}

.menu_lanote .trait_gauche, .menu_lanote .trait_droit {
  width: 35%;
  height: 30px;
  border-bottom: 3px double #3d1319;
}

.descript_lanote {
  padding: 0;
}
.descript_lanote li {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
}
.descript_lanote li p:nth-child(1) {
  width: 80%;
  margin: auto 0;
}
@media all and (max-width: 640px) {
  .descript_lanote li p:nth-child(1) {
    width: auto;
    text-align: center;
  }
}
.descript_lanote li p:last-child {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
@media all and (max-width: 640px) {
  .descript_lanote li p:last-child {
    width: auto;
    text-align: center;
  }
}
@media all and (max-width: 640px) {
  .descript_lanote li {
    width: auto;
    flex-direction: column;
  }
}

@media all and (max-width: 640px) {
  .mouvement {
    text-align: center;
  }
}
.mouvement ul li {
  padding-bottom: 20px;
}

/*.mouvement ul li
{
    padding-bottom: 20px;
}*/
.titre_final {
  display: flex;
  justify-content: center;
}

/*-----PAGE LE CHIC A LA FRANCAISE-----*/
.menu_lechic {
  width: 700px;
  margin: 0 auto;
  background-color: #fff5fe;
  box-shadow: 0 0 10px #d9dadb;
  padding: 20px 0;
  margin-bottom: 120px;
  font-family: "Bellota", cursive;
}
.menu_lechic h3 {
  text-align: center;
  font-size: 2em;
}
@media all and (max-width: 640px) {
  .menu_lechic {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.menu_lechic h4 {
  text-align: center;
  cursor: pointer;
}
.menu_lechic h4:hover + .surlign {
  transform: scaleX(1);
}

.nom__partie--chic .surlign__chic--1 {
  background-color: #c67412;
}
.nom__partie--chic .surlign__chic--2 {
  background-color: #a56799;
}
.nom__partie--chic .surlign__chic--3 {
  background-color: #6e4ccc;
}

.menu_lechic .partie_menu1, .menu_lechic .prelude {
  color: #c67412;
}

.trait_gauche_chic, .trait_droit_chic {
  width: 30%;
  height: 30px;
  border-bottom: 4px double;
}

.menu_lechic .partie_menu2, .menu_lechic .point_dorgue {
  color: #a56799;
}

.menu_lechic .partie_menu3, .menu_lechic .mouvement {
  color: #6e4ccc;
}

/*-----PAGE LE DELCIE DES PAPILLES-----*/
.menu_ledelice {
  width: 700px;
  margin: 0 auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px #d9dadb;
  padding: 20px 0;
  margin-bottom: 120px;
  font-family: "Satisfy", cursive;
}
.menu_ledelice h3 {
  text-align: center;
  font-size: 2em;
}
.menu_ledelice h4 {
  cursor: pointer;
}
.menu_ledelice h4:hover + .surlign {
  transform: scaleX(1);
}
@media all and (max-width: 640px) {
  .menu_ledelice {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nom__partie .surlign__delice--1 {
  background-color: #0228dd;
}
.nom__partie .surlign__delice--2 {
  background-color: #0670f3;
}
.nom__partie .surlign__delice--3 {
  background-color: #229df9;
}

.menu_ledelice .partie_menu1 .trait_gauche, .menu_ledelice .partie_menu1 .trait_droit {
  color: #0228dd;
}

.menu_ledelice .partie_menu2 .trait_gauche, .menu_ledelice .partie_menu2 .trait_droit {
  color: #0670f3;
}

.menu_ledelice .partie_menu3 .trait_gauche, .menu_ledelice .partie_menu3 .trait_droit {
  color: #229df9;
}

/*-----PAGE LA PALETTE DU GOUT-----*/
.menu_lapalette {
  width: 700px;
  margin: 0 auto;
  background-color: #fdfffd;
  box-shadow: 0 0 10px #d9dadb;
  padding: 20px 0;
  margin-bottom: 120px;
  font-family: "Indie Flower", cursive;
}
.menu_lapalette h3 {
  text-align: center;
  font-size: 2em;
}
.menu_lapalette h4 {
  text-align: center;
  cursor: pointer;
}
.menu_lapalette h4:hover + .surlign {
  transform: scaleX(1);
}
@media all and (max-width: 640px) {
  .menu_lapalette {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nom__partie .surlign__palette {
  background-color: #45993e;
}

.menu_lapalette .trait_gauche, .menu_lapalette .trait_droit {
  width: 35%;
  height: 30px;
  border-bottom: 3px double;
}

/*-----PAGE MENTIUONS LEGALES-----*/
.Mentionlegale {
  width: 700px;
  margin: auto;
  text-align: justify;
  font-size: 1.1em;
}
@media all and (max-width: 640px) {
  .Mentionlegale {
    width: auto;
    margin: auto;
    height: 90%;
    font-size: 1em;
    padding: 0 5px;
  }
}

.Mentionlegale a {
  color: black;
}

/*-----FOOTER-----*/
footer {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  vertical-align: middle;
  line-height: 50px;
}

footer a {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}
@media all and (max-width: 640px) {
  footer a {
    font-size: 1em;
  }
}

/*-----HEADER-----*/
h1 {
  margin: 0 auto;
  height: 70px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: #fdcb46;
  vertical-align: middle;
  line-height: 70px;
}
h1 a {
  color: #fdcb46;
}

header {
  background-color: #579c87;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
