@import "../utils/variables";
@import "../utils/mixins";

.la_note, .le_chic, .le_delice, .la_palette
{
    width: 200px;
    height: 300px;
    box-shadow: 0 0 10px rgb(217,218,219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    & figure, h3, p
    {
        transform: scale(1);
        transition: transform 400ms;
    }
    &:hover
    {
        & figure, h3, p
        {
            transform: scale(1.2);
        }
    }
        
    
}

.la_note
{
    align-items: center;
    margin-right: 10px;
    background-color: $chaire;
    position: relative;
    z-index: 1;
    & h3
    {
        font-family: $font_note;
        color: $bordeau;
    }
    & figure
    {
        font-size: 2em;
        margin-bottom: -20px;
        color: $rouge_note;
    }
    & p
    {
        text-transform: uppercase;
        font-family: $font_ubuntu;
        color: $noir;
    }
    &:hover
    {
        &::after
        {
            opacity: 1;
        }
    }
    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: lighten($chaire, 2);
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms;
    }
    @include mobile
    {
        margin-right: 0;
        margin-top: 20px;
        z-index: 0;
    }
}

.le_chic
{
    background-color: $rose_pale;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    & h3
    {
        color: $violet_fonce;
        font-family: $font_bellota;
    }
    & p
    {
        color: $orange;
    }
    &:hover
    {
        &::after
        {
            opacity: 1;
        }
    }
    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: lighten($rose_pale, 1);
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms;
    }
    @include mobile
    {
        margin-left: 0;
        margin-top: 20px;
        z-index: 0;
    }
}

.le_delice
{
    background-color: $gris_clair;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    & h3
    {
        font-family: $font_satisfy;
        color: $bleu;
    }
    & p
    {
        color: $bleu;
    }
    &:hover
    {
        &::after
        {
            opacity: 1;
        }
    }
    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: lighten($gris_clair, 2);
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms;
    }
    @include mobile
    {
        margin-right: 0;
        margin-top: 20px;
        z-index: 0;
    }
}

.la_palette
{
    background-color: $blanc_terne;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    & h3
    {
        font-family: $font_indie;
        color: $vert;
    }
    & p
    {
        color: $vert;
    }
    &:hover
    {
        &::after
        {
            opacity: 1;
        }
    }
    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: lighten($blanc_terne, 2);
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms;
    }
    @include mobile
    {
        margin-left: 0;
        margin-top: 20px;
        z-index: 0;
    }
}

.coming
{
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: $vert_fond;
    color: $jaune_titre;
    font-family: $font_titre;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

    @include grande-tablette
    {
        margin-top: 50px;
    }
    @include mobile
    {
        margin-top: 20px;
    }
}
