$jaune_titre: rgb(253, 203, 70);
$vert_fond: rgb(87,156,135);
$noir: black;
$chaire: rgb(252,223,219);
$bordeau: rgb(61, 19, 25);
$rose_pale:rgb(255,245,254);
$gris_clair: rgb(249, 249, 249);
$blanc_terne: rgb(253,255,253);
$orange: rgb(198,116,18);
$violet:rgb(165,103,153);
$violet_fonce:rgb(110,76,204);
$bleu_fonce:rgb(2,40,221);
$bleu:rgb(6,112,243);
$bleu_clair:rgb(34,157,249);

$font_titre:'Roboto',sans-serif;
$font_note:'Dancing Script', sans-serif;
$font_ubuntu: 'Ubuntu', sans-serif;
$font_bellota: 'Bellota',cursive;
$font_satisfy: 'Satisfy', cursive;
$font_indie: 'Indie Flower', cursive;